# Ignore everything...
*
!*/
# ... but not those files with extentions (no binaries)
!*.*
!LICENSE
!Makefile

# macOS debug symbols
*.dSYM/

# C object files
*.o
# C dependency files
*.d

# C Language Server
.ccls
